<p id="notice"><%= notice %></p>

<h1>Listing Super Secret Resources</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @super_secret_resources.each do |super_secret_resource| %>
      <tr>
        <td><%= super_secret_resource.name %></td>
        <td><%= super_secret_resource.description %></td>
        <td><%= link_to 'Show', super_secret_resource %></td>
        <td><%= link_to 'Edit', edit_super_secret_resource_path(super_secret_resource) %></td>
        <td><%= link_to 'Destroy', super_secret_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Super secret resource', new_super_secret_resource_path %>
